<div class="container">
    <div class="home_content clearfix">
        <div class="content_left fl">
            <ul-box ul-items="ulItemsHeShe" children-content="ulItemsContent" children-div-class="children"></ul-box>
        </div>
        <div class="rightFocusImg fl">
            <focus-img img-items="imgItems"></focus-img>
        </div>
    </div>

    <div class="home_mxdp">
        <focus-img title="小米明星单品" img-items="mxdp" template="multiple"></focus-img>
    </div>

    <div class="home_wntj">
        <focus-img title="为您推荐" img-items="wntj" template="multiple"></focus-img>
    </div>
</div>