<div class="camera">

    <div class="camera-info">
        <div class="camera-title">
            <h1>快门之外的艺术 细节之中的科技</h1>
            <p>
                一张好照片是如何诞生的？光线从进入镜头的第一刻起，就要接受层层考验。从镜片到感光元件，我们探索每个环节的画质改进：不惜成本的蓝宝石玻璃镜片、更好还原色彩的 DTI 技术、更先进的 4 轴光学防抖、更高性能的影像处理器。当每个环节都配备新科技，我们惊喜地发现色彩更纯粹，照片更清晰，夜景细节更多。艺术是对美的发现，科技则是对细节的探索，现在两者终于完美合一。
            </p>
            <a href="#"><i class="play-logo"></i> 4 轴防抖视频</a>
            <ul>
                <li>4轴<span>光学防抖</span></li>
                <li>16MP<span>索尼 IMX298相机</span></li>
                <li>蓝宝石<span>镜头保护玻璃</span></li>
            </ul>
        </div>
    </div>

    <div class="camera-fd">
        <div class="fd-content">
            <small>光学防抖相机</small>
            <h1>4轴防抖，让好画质稳定发挥</h1>
            <p>
                精彩瞬间，光线一般时，一不小心就“拍虚了”？轻微抖动造成的成像模糊，这可是个对专业相机都棘手的问题，直接的途径就是使用光学防抖技术。然而，当前手机的光学防抖通常只有 2 轴，这对于风景防抖尚能应付，近景防抖则力不从心。
            </p>
            <p>
                小米5 创新应用了 4 轴防抖技术，它使用手机内陀螺仪与加速度感应器，高速检测 8 个方向的抖动，实时驱动微型马达调整姿态，补偿抖动。
            </p>
            <p>
                使用这项创新技术后，即使光线不足，拍摄清晰明亮的风景、微距照片，都不在话下。更让人惊喜的是，拍摄 4K 视频时，它仍可以发挥作用。
            </p>
        </div>
        <img src="" alt=""/>
    </div>
</div>