<div class="hkj">
    <div class="hkj-title">
        <h1>十余项黑科技，从快到 “狠” 快</h1>
        <p>对科技的探索，让我们不断刷新快的纪录。快 100% 的处理器、快 87% 的闪存、新一代网络技术 4G+ ，<br/>还有更稳定的相机、更鲜艳、通透的省电高亮屏幕，通过众多黑科技的探索，使小米5
            不仅更快，更是快得<br/>有点狠。感谢伟大的新科技，让每一天都超越想象，前所未有。</p>
        <a href="#"><i class="play-logo"></i>《去探索》 品牌视频</a>
        <a href="#"><i class="play-logo"></i>《小米5 就是快》 影视广告</a>
    </div>
    <div class="hkj-list">
        <ul class="clearfix">
            <li class="li-img1"><span></span><p>骁龙 820 4GB+128GB</p></li>
            <li class="li-img2"><span></span><p>UFS 2.0 闪存</p></li>
            <li class="li-img3"><span></span><p>4 轴防抖相机</p></li>
            <li class="li-img4"><span></span><p>4G+ 网络</p></li>
            <li class="li-img5"><span></span><p>16颗灯 省电高亮屏幕</p></li>
            <li class="li-img6"><span></span><p>快充 3.0</p></li>
            <li class="li-img7"><span></span><p>全功能 NFC</p></li>
            <li class="li-img8"><span></span><p>DTI 画质增强</p></li>
            <li class="li-img9"><span></span><p>全网通3.0</p></li>
            <li class="li-img10"><span></span><p>3D 陶瓷机身</p></li>
            <li class="li-img11"><span></span><p>美颜视频电话</p></li>
            <li class="li-img12"><span></span><p>离线一键换机</p></li>
        </ul>
    </div>

    <div class="hkj-fast">
        <div class="fast-title">
            <h1>有一种速度叫“骁龙820”</h1>
            <p>
                不是任何处理器都会被小米手机选择，它不仅要性能出色，还要方方面面显著提升。全新骁龙 820 正符合小米5 的严苛要求，跨代式的改进体现在它的每个方面。<br/>
            </p>
            <p>
                全新的 Kryo CPU 在单核性能上达到高通新标准，较上一代处理器 CPU 性能提升一倍之多。高通首次采用的 14nm 制程，从精密的工艺上带来更低功耗，再引入“低功率岛”技术，以超低电量负责传感器等任务，获得更出色的电量控制。<br/>
            </p>
            <p>
                升级的不只性能与功耗，更快的图像处理器、更动听的音频模块、先进的指令集，我们能将其称之为“黑科技”，正因其在方方面面的改进，最终让你使用小米5，获得更快的使用体验。
            </p>
        </div>
    </div>
</div>
