<div class="screen">

    <div class="screen-info">
        <div class="screen-title">
            <h1>屏幕内的科技，手心中的光芒</h1>
            <p>
                5.15”屏幕，207 万像素，多达 6 种屏幕科技，如何再进一步改善画质？为了让屏幕展现全新观感，工程师向亮度发起挑战，打破 “高饱和度难以做高亮度” 定律，采用 16 颗灯高演色技术，带来了更鲜艳、通透的观看体验。画质提升的背后，不仅是对黑科技的不断探索，还有我们对手机屏幕的创新理解：任何时候，它都应调整至适合当前环境的更佳状态。黑暗下更柔和、烈日下更明亮，层层黑科技，在你手心绽放光芒。
            </p>
        </div>
    </div>

    <div class="screen-led">
        <div class="led-content">
            <small>16 颗 LED 灯技术</small>
            <h1>好屏幕应有的亮度</h1>
            <p>
                我们都喜欢鲜艳、明媚，在屏幕设计上高饱和度与高亮度却很难两全。想要在 95% NTSC 的高鲜艳度上大幅提升亮度，必须深入屏幕内部，对现有结构重新设计、深度定制。
            </p>
            <p>
                首先，一般 5” 左右屏幕仅能容纳 12 ~ 14 颗背光灯，小米5 通过更精密的工艺终于使屏幕背光灯增至 16 颗，这种排布方式已接近 5.15” 屏幕极限。我们同时对屏幕各层材料精选定制，例如通透的视觉观感，就来自内部约 4.62% ~ 5.4% 的超低内反射率。亮度提高 30%，色彩却依旧鲜艳。灯光下看起来更通透，阳光下看得更清楚，这才是手机屏幕应有的亮度。
            </p>
        </div>
        <video src=""></video>
    </div>
 </div>