<div class="search">
    <input type="text" ng-model="userSearch"
           ng-blur="closeContent()" ng-keydown="changeSearchVal()"
           placeholder="小米手机5"/>
    <input type="submit" ng-click="" />

    <div ng-show="searchResultList.length" class="search_list">
        <ul>
            <li ng-repeat="item in searchResultList">
                <a ng-mousedown="goSearchState(item.name)">
                    {{item.name}}
                    <span>约有{{item.number}}件</span>
                </a>
            </li>
        </ul>
    </div>

<!--<div class="search_dic">
    <input type="text" placeholder="小米手机" ng-blur="closeList()" ng-model="userSearch" ng-keyup="searchFn()"/>
    <input type="submit" class="search-btn iconfont" value="">
    &lt;!&ndash;ng-blur="closeList()" 失去焦点事件使路由无法跳转&ndash;&gt;
    <div ng-show="searchResultList.length" class="search_list clearfix">
        &lt;!&ndash;<div ng-show="isShowSearchList" class="search_list clearfix">&ndash;&gt;
        <ul>
            <li ng-repeat="item in searchResultList">
                <a ng-mousedown="goSearch(item.name)">{{item.name}}
                    <span>约有 {{item.number}}</span>
                </a>
            </li>
        </ul>
    </div>
</div>-->
</div>